<h1>Checkout - Payment Information</h1>
<span>Cart Total: {{ shopCart.getCartTotal() | currency }}</span> | <span>Total Items in cart: {{ shopCart.getTotalItemsInCart() }}</span> | <a (click)="keepShopping()">Keep Shopping</a>
<br />
<br />
  <div id="frmMainForm">
    <form #payInfoform="ngForm" name="frmPaymentDetails" (submit)="onSubmit(form)">
      <label >First Name: </label>
      <br />
      <input type="text" [(ngModel)]="billAddress.FirstName" name="txtFirstName" class="mediumTextboxWidth">
      <br />
      <br />
      <label >Last Name: </label>
      <br />
      <input type="text" [(ngModel)]="billAddress.LastName" name="txtLastName" class="mediumTextboxWidth">
      <br />
      <br />
      <label >Address: </label>
      <br />
      <input type="text" [(ngModel)]="billAddress.StreetAddress" name="txtAddress" class="mediumTextboxWidth">
      <br />
      <br />
      <label >City: </label>
      <br />
      <input type="text" [(ngModel)]="billAddress.City" name="txtCity" class="mediumTextboxWidth">
      <br />
      <br />
      <label >State: </label>
      <br />
      <select name="slctState" id="slctState" [(ngModel)]="billAddress.State">
        <option>SELECT STATE</option>
        <option *ngFor="let state of states" [value]="state.Id">{{state.Name}}</option>
      </select>
      <br />
      <br />
      <label >Zip Code: </label>
      <br />
      <input type="text" [(ngModel)]="billAddress.ZipCode" name="txtZipCode" class="mediumTextboxWidth">
      <br />
      <br />
      <br />
      <label >Credit Card: </label>
      <br />
      <select name="slctCCard" id="slctCCard" [(ngModel)]="selectedCCard">
        <option value="" selected>SELECT PAYMENT OPTION</option>
        <option *ngFor="let ccard of creditCards" [ngValue]="ccard" [value]="ccard.Id">{{ccard.Name}}</option>
      </select>
      <br />
      <br />
      <input type="checkbox" name="useBillAddrForShipAddr" [(ngModel)]="useBillAddressForShipping"  (change)="changeStatus()" ><label>Use Billing Address For Shipping</label>
      <br />
      <br />
      <button type=submit>Continue</button> &nbsp;&nbsp;
      <button type=reset>Reset</button>
      <br />
    </form>
  </div>
<br />
<span>Cart Total: {{ shopCart.getCartTotal() | currency }}</span> | <span>Total Items in cart: {{ shopCart.getTotalItemsInCart() }}</span> | <a (click)="keepShopping()">Keep Shopping</a>